<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      var isFinished = false;
      var minutes = 0.09;
      var seconds = minutes * 60;
      var finished = false;
      downloaded = false;
      //window.onload = getupdates();
      var updaterinvertal = setInterval(getupdates, seconds*1000);
      var downloaderinterval =  setInterval(checkDownload, seconds*1000)

      function clearstuff(){
        console.log("the request has been sent.")
          // TODO: Download the thing automatically
        console.log(1/0)
          if (!downloaded){
            var clicked = document.getElementById("downloader");
            clicked.click();
            downloaded = true;
          }

          clearInterval(updaterinvertal);
          clearInterval(downloaderinterval);
      }

      function checkDownload(){
        if (finished){
          // TODO: Send an ajax request that will compile the thing and send over.
          $.ajax({
            type: "POST",
            url: "download",
            beforeSend: function(xhr){xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');},
            data: {
              output: "{{output}}",
              file1: "{{file1}}",
              file2: "{{file2}}", //For Deleting these
            },
            complete: function () {
              clearstuff();

            }
          });
        }
      }
      function getupdates(){
        //console.log("we are in the updates function ", "{{dirname}}" );
          $.ajax({
            type: "POST",
            url: '',
            beforeSend: function(xhr){xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');},
            dataType: 'json',
            data: {
              output : "{{output}}",
              file1: "{{file1}}",
              file2: "{{file2}}",
              finished: finished,
            },
            complete: function(req){
            line = req.responseText.split('\n')
            if (line.indexOf("We have initialized the functions and have recieved all the properties.") > -1) {
              finished = true;
              window.clearInterval();
            }
            text = ""
            for(var i = 0; i<line.length; i++) {
              text += "<p>" + line[i] + "\n" + "</p>";
              if (i == line.length -1){
                document.getElementById("console").innerHTML = text;

              }
            }

            },
          });
      }
    </script>
  </head>
  <body>
    <p style="color:blue"> You have reached the updates place</p>
    <div id="console"></div>
    <br>
    {%load static%}
    <a href="{%get_static_prefix%}example.zip" download="example" id="downloader"></a>
    <!-- <a href="{%get_static_prefix%}/Data/{{output}}.zip" download="{{output}}" id="clicker"></a> -->
  </body>
</html>
