<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      var isFinished = false;
      var minutes = 0.09;
      var seconds = minutes * 60;
      var finished = false;
      //window.onload = getupdates();
      window.setInterval(getupdates, seconds*1000);
      window.setInterval(checkDownload, seconds*1000)

      function checkDownload(){
        if (finished){
          // TODO: Send an ajax request that will compile the thing and send over.
        }
      }
      function getupdates(){
        console.log("we are in the function ", {{dirname}} );
          $.ajax({
            type: "POST",
            url: '',
            beforeSend: function(xhr){xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');},
            dataType: 'json',
            data: {
              output : "{{output}}",
              file1: "{{file1}}",
              file2: "{{file2}}",
              finished: finished,
            },
            complete: function(req){
            console.log(req.responseText);
            line = req.responseText.split('\n')
            console.log(line)
            if (line.indexOf("We have reached an arbitary point") > -1) {
              finished = true;
              window.clearInterval();
            }
            text = ""
            console.log(line);
            for(var i = 0; i<line.length; i++) {
              text += "<p>" + line[i] + "\n" + "</p>";
              if (i == line.length -1){
                document.getElementById("console").innerHTML = text;

              }
            }

            },
          });
      }
    </script>
  </head>
  <body>
    <p style="color:blue"> You have reached the updates place</p>
    <div id="console"></div>
    <p> </p>
  </body>
</html>
